@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Index</h1>
<h3>来自控制器的计算结果:@ViewBag.Date</h3>
<h3>视图中实时计算的结果：@DateTime.Now.ToString("yyyy-MM-dd  ss")</h3>